<div
class="md:flex hidden h-[calc(100vh-80px)] fixed z-10 w-80 bg-gray-800/60 border border-gray-600 backdrop-blur-lg flex-col px-6 py-20 items-center text-white gap-10 rounded-xl">
<h1 class="text-3xl font-bold">TwitterButBetter</h1>
<a routerLink="/home" routerLinkActive="underline" class="text-xl font-bold hover:bg-gray-600/50 py-4 px-6 w-full rounded-xl transition-all " href="">Home</a>
<a routerLink="/profile" routerLinkActive="underline" class="text-xl font-bold hover:bg-gray-600/50 py-4 px-6 w-full  rounded-xl transition-all" href="">Profile</a>
<button
  class="text-xl font-bold bg-blue-700 py-4 px-6 w-full text-center rounded-xl transition-all hover:bg-blue-600"
  (click)="open()">New Post</button>
</div>
<div
class="md:hidden flex fixed z-10 w-[calc(100%-80px)] bg-gray-800/60 border border-gray-600 backdrop-blur-lg  flex-row p-6 items-center text-white justify-between rounded-xl">
<a routerLink="/home" routerLinkActive="underline" class="text-xl font-bold hover:bg-gray-600/50 py-4 px-6 w-full rounded-xl transition-all " href="">Home</a>
<a routerLink="/profile" routerLinkActive="underline" class="text-xl font-bold hover:bg-gray-600/50 py-4 px-6 w-full  rounded-xl transition-all" href="">Profile</a>
<button
  class="text-xl font-bold bg-blue-700 py-4 px-6 w-full text-center rounded-xl transition-all hover:bg-blue-600"
  (click)="open()">New Post</button>
</div>