<div class="whole-screen">
    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span>TwitterButBetter</span>

        <div class="toolbar-corner">
            <button mat-fab extended (click)="newPost()" color="primary"><mat-icon>add_circle</mat-icon> New Post</button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="dashboard">
        <mat-sidenav mode="side" class="sidenav" #sidenav>
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/trends']">Trends</a>
            <a [routerLink]="['/profile', session]" *ngIf="sessionActive">Profile</a>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>