<mat-card class="card">
  <mat-card-header>
      <mat-card-title>Password reset</mat-card-title>
  </mat-card-header>
  <form [formGroup]="matchPw">
    <mat-card-content>
      <mat-form-field matTooltipPosition="right" [matTooltip]="tooltipText" matTooltipClass="mat-tooltip" matTooltip>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" [(ngModel)]="password" >
        <button mat-icon-button matSuffix  (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!matchPw.get('password')!.valid" mat-Tooltip="">Password invalid</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideRepeatPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
          <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!matchPw.get('confirmPassword')!.valid && matchPw.get('password')!.valid">Passwords do not match</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!matchPw.valid">Change Password</button>
    </mat-card-actions>
  </form>
</mat-card>
