<style>
  .gradient-background {

    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

</style>
<app-new-post-popup *ngIf="showPopup" (closePopup)="showPopup = false"></app-new-post-popup>
<div class="w-full gradient-background h-full p-10">
<app-nav-bar (openPopup)="showPopup = true"></app-nav-bar>
  <div class="mt-36 md:mt-0 md:pl-[360px] w-full h-full flex flex-col gap-10">
    <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  </div>
</div>
