#card{
  width: 20rem;
  border: 2px solid #000;
  border-radius: 2rem;
  padding: 1rem;

  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.username-field{
  width: 35vh;
}

.password-field{
  width: 35vh;
}
